.cardsInOrder{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 7%;
    margin-top: 5%;
}
.cardDiv{
margin: 1%;
}

.cardImg{
    width: 100%;
    height: 300px;
}


.slide{
    width: 400px;
}

