#errorMsg {
    display: none;
    color: red;
}

.cardImgDiv{
    width:  60%;
    height: 50%;
}

.cardImg{
    width: 200px;
    height: 200px;
  }
#roomPriceMin_r {
    width : 20%;
}

#roomPriceMax_r {
    width : 20%;
}

#roomPriceErrorMsg {
    display: none;
    color: red;
}
#roomForumDiv_r{
    margin-top: 0%;
}

#newRoomDiv
{
    display: none;
    color: rgb(28, 16, 109);
}

#newRoomDiv .container .newRoom-row #newRoom-column  {
    margin: auto;
    margin-top:2%;
    max-width: 100%;
    height: 70%;
    border: 1px solid  rgb(28, 16, 109);
    border-radius: 3px;
    background-color:transparent;
  }
  #newRoomDiv .container .newRoom-row #newRoom-column  #newRoom-form {
    padding: 20px;
  }
  #newRoomDiv .container .newRoom-row #newRoom-column  #newRoom-form #register-link {
    margin-top: -85px;
  }

  #newRoomDiv button{
      background-color: rgb(28, 16, 109);
      color: beige;
     margin-left: 15%;
      width: 70%;
      font-size: 1em;
  }

#roomCardsDiv{
    margin-left: 7%;
    margin-top: 5%;
}
