#errorMsg {
    /* display: none; */
    color: red;
}


#roomPriceMin_r {
    width : 20%;
}

#roomPriceMax_r {
    width : 20%;
}

#roomPriceErrorMsg {
    color: red;
}

#roomDateErrorMsg{
    color: red;
}
#roomForumDiv_r{
    margin-top: 0%;
}

#newRoomDiv{
    color: rgb(28, 16, 109);
}

#newRoomDiv .container .newRoom-row #newRoom-column  {
    max-width: 100%;
    height: 70%;
    border: 1px solid  rgb(28, 16, 109);
    border-radius: 3px;
    background-color:transparent;
  }
  #newRoomDiv .container .newRoom-row #newRoom-column  #newRoom-form {
    padding: 15px;
  }
  #newRoomDiv .container .newRoom-row #newRoom-column  #newRoom-form #register-link {
    margin-top: -85px;
  }

  #newRoomDiv button{
      background-color: rgb(28, 16, 109);
      color: beige;
      margin-left: 15%;
      width: 70%;
      font-size: 1em;
  }

#requestsDiv{
    margin-top: 7%;
    margin-left: 7%;
    width: 40%;
} 

.requestsBtns{
    margin-left: 60%;
}